# Library

In [1]:
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

# Data

In [5]:
df = pd.read_csv('public_holidays_dataset.csv')

In [6]:
df

   Month  Date        Day                          Name
0    Jan     1     Monday                      New year
1    Jan    15     Monday                        Pongal
2    Jan    16    Tuesday             Thiruvalluvar day
3    Jan    17  Wednesday             Uzhavar Thirunaal
4    Jan    25   Thursday                   Thai poosam
5    Jan    26     Friday                  Republic day
6    Mar    29     Friday                   Good Friday
7    Apr     1     Monday  Annual closing day for banks
8    Apr     9    Tuesday               Telugu New Year
9    Apr    11   Thursday                        Ramzan
10   Apr    14     Sunday                Tamil New Year
11   Apr    21    Sunday              Mahaveer Jayanthi
12  May      1  Wednesday                      May Day
13   Jun    17     Monday                        Bakrid
14   Jul    17  Wednesday                      Muharram
15   Aug    15   Thursday              Independence day
16   Aug    26     Monday              Krishna Jayanthi
17  Sep      7   Saturday          Vinayagar Chathurthi
18  Sep     16     Monday                   Miladi nabi
19   Oct     2  Wednesday               Gandhi jeyanthi
20   Oct    11     Friday                  Ayutha Pooja
21   Oct    12   Saturday                 Vijaya Dasami
22   Oct    31   Thursday                     Deepavali
23   Dec    25  Wednesday                     Christmas

# Line Plot

In [ ]:
sns.lineplot(data=df, x='Month', y='Name', hue='Day')

# Bar Plot

In [ ]:
mont_wise_groupby = df.groupby('Month').count()

In [ ]:
mont_wise_groupby

In [ ]:
sns.barplot(data=mont_wise_groupby, x='Month', y='Date')

In [ ]:
plt.figure(figsize=(20,15))
sns.barplot(data=df, x='Month', y='Date', hue='Name', palette='Set2')

# Histogram

In [ ]:
sns.histplot(data=df, x='Date', bins=3, kde=True)

# ScatterPlot

In [ ]:
sns.scatterplot(data=df, x='Date', y = 'Name', hue='Month')

# Box plot

In [ ]:
df['Date'].describe()

In [ ]:
sns.boxplot(data=df)
sns.swarmplot(data=df, color='red')

In [ ]:
df.loc[24] = {'Month': 'Jan', 'Date': 100, 'Day': 'Monday', 'Name': 'summa'}

# Violin Plot

In [ ]:
sns.violinplot(data=df)

In [ ]:
sns.histplot(x='Date', data=df, kde=True)

# HeatMap

In [ ]:
month_dict = {'Jan': 1,
             'Feb' : 2,
             'Mar' : 3,
             'Apr' : 4,
             'May ' : 5,
             'Jun' : 6,
             'Jul' : 7,
             'Aug' : 8,
             'Sep ' : 9,
             'Oct' : 10,
             'Nov' : 11,
             'Dec' : 12}
df['Month_Number']  =df['Month'].map(month_dict)

In [ ]:
df.corr(numeric_only=True)

In [ ]:
sns.heatmap(df.corr(numeric_only=True), annot=True)

# FacetGrid

In [ ]:
df

In [ ]:
x = sns.FacetGrid(data= df, col='Day')
x = x.map(plt.hist, 'Month', edgecolor='black')

# Joint plot

In [ ]:
sns.jointplot(data=df, x='Month_Number', y= 'Date', kind='reg')

# PairPlot

In [ ]:
sns.pairplot(data=df)