# Library installation

In [1]:
import pandas as pd

In [2]:
import numpy as np

# Pandas Series

### how to create?

In [3]:
veges = ['beetroot', 'carrot', 'tomato', 'kovakkai', 'coconut']

In [4]:
veges_series = pd.Series(veges,index=['purple', 'orange', 'red', 'green', 'white'])

In [5]:
veges_series

purple    beetroot
orange      carrot
red         tomato
green     kovakkai
white      coconut
dtype: object

In [6]:
vege_dict = {'red': 'tomato','green': 'kovakkai'}

In [7]:
vege_dict_series = pd.Series(vege_dict)

In [8]:
vege_dict_series

red        tomato
green    kovakkai
dtype: object

### How to access?

In [9]:
veges_series['white']

'coconut'

In [10]:
vege_dict_series['orange'] = 'carrot'

In [11]:
vege_dict_series

red         tomato
green     kovakkai
orange      carrot
dtype: object

In [12]:
vege_dict_series.drop(['orange'], inplace=True)

### Series elements can be hetrogeneous & nested too!

In [13]:
veges_dict = {'red': ['tomato', 'redchilli', 'apple'], 'green': 'kovakkai'}

In [14]:
new_veges_series = pd.Series(veges_dict)

In [15]:
type(new_veges_series[1])

/tmp/ipykernel_4423/189875207.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(new_veges_series[1])

str

# Pandas Datasframe

### how to create?

## series are building blocks of datagrames

In [16]:
data = { 'vegetables': ['beetroot', 'carrot', 'redchilli', 'beans', 'coconut'],
       'color' : ['purple', 'orange', 'red', 'green', 'white'],
        'unit' : ['1kg', '1kg','1kg','1kg','1piece'],
       'min' : [25, 35, 33, 40, 'seventeen'],
       'max': [40, 45, 90, 45, 38],
       }

In [17]:
koyambed_market = pd.DataFrame(data,index=['a','b','c','d','e'])

In [18]:
koyambed_market

  vegetables   color    unit        min  max
a   beetroot  purple     1kg         25   40
b     carrot  orange     1kg         35   45
c  redchilli     red     1kg         33   90
d      beans   green     1kg         40   45
e    coconut   white  1piece  seventeen   38

In [19]:
koyambed_market.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### How to access?

In [20]:
koyambed_market['unit'] # access cols names

a       1kg
b       1kg
c       1kg
d       1kg
e    1piece
Name: unit, dtype: object

In [21]:
# below .loc access the label and .oc also used for create new one
koyambed_market.loc['a'] # or komyambed_market.iloc[0] access the speificed index

vegetables    beetroot
color           purple
unit               1kg
min                 25
max                 40
Name: a, dtype: object

In [22]:
koyambed_market.loc['a', 'unit']

'1kg'

In [23]:
koyambed_market.iloc[0:3, 0:3]

  vegetables   color unit
a   beetroot  purple  1kg
b     carrot  orange  1kg
c  redchilli     red  1kg

### Adding and removing

In [24]:
koyambed_market

  vegetables   color    unit        min  max
a   beetroot  purple     1kg         25   40
b     carrot  orange     1kg         35   45
c  redchilli     red     1kg         33   90
d      beans   green     1kg         40   45
e    coconut   white  1piece  seventeen   38

In [25]:
koyambed_market.loc['f'] = {'vegetables': 'poosanikai', 'color': 'yellow', 'unit': '1piece', 'min' : 10, 'max' : 30}

In [26]:
koyambed_market

   vegetables   color    unit        min  max
a    beetroot  purple     1kg         25   40
b      carrot  orange     1kg         35   45
c   redchilli     red     1kg         33   90
d       beans   green     1kg         40   45
e     coconut   white  1piece  seventeen   38
f  poosanikai  yellow  1piece         10   30

In [27]:
koyambed_market['average'] = [20, 35, 75, 35, 25, 20]

In [28]:
koyambed_market

   vegetables   color    unit        min  max  average
a    beetroot  purple     1kg         25   40       20
b      carrot  orange     1kg         35   45       35
c   redchilli     red     1kg         33   90       75
d       beans   green     1kg         40   45       35
e     coconut   white  1piece  seventeen   38       25
f  poosanikai  yellow  1piece         10   30       20

In [29]:
koyambed_market.drop(['average'], axis=1, inplace=True)

### Handle missing values - isna, sum, any, fillna, dropna

In [30]:
koyambed_market

   vegetables   color    unit        min  max
a    beetroot  purple     1kg         25   40
b      carrot  orange     1kg         35   45
c   redchilli     red     1kg         33   90
d       beans   green     1kg         40   45
e     coconut   white  1piece  seventeen   38
f  poosanikai  yellow  1piece         10   30

In [31]:
koyambed_market.isna().sum()

vegetables    0
color         0
unit          0
min           0
max           0
dtype: int64

In [32]:
koyambed_market['coconut'] = [True, True, False, False,True, np.nan]

In [33]:
koyambed_market

   vegetables   color    unit        min  max coconut
a    beetroot  purple     1kg         25   40    True
b      carrot  orange     1kg         35   45    True
c   redchilli     red     1kg         33   90   False
d       beans   green     1kg         40   45   False
e     coconut   white  1piece  seventeen   38    True
f  poosanikai  yellow  1piece         10   30     NaN

In [34]:
koyambed_market.isna().sum()

vegetables    0
color         0
unit          0
min           0
max           0
coconut       1
dtype: int64

In [35]:
koyambed_market.fillna(False, inplace= True)

/tmp/ipykernel_4423/2257933256.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  koyambed_market.fillna(False, inplace= True)

In [36]:
koyambed_market

   vegetables   color    unit        min  max  coconut
a    beetroot  purple     1kg         25   40     True
b      carrot  orange     1kg         35   45     True
c   redchilli     red     1kg         33   90    False
d       beans   green     1kg         40   45    False
e     coconut   white  1piece  seventeen   38     True
f  poosanikai  yellow  1piece         10   30    False

In [49]:
koyambed_market.dropna(axis=0)

   vegetables   color    unit        min  max  coconut
a    beetroot  purple     1kg         25   45     True
b      carrot  orange     1kg         35   50     True
c   redchilli     red     1kg         33   95    False
d       beans   green     1kg         40   50    False
e     coconut   white  1piece  seventeen   43     True
f  poosanikai  yellow  1piece         10   35    False

### Apply lambda

In [50]:
koyambed_market

   vegetables   color    unit        min  max  coconut
a    beetroot  purple     1kg         25   45     True
b      carrot  orange     1kg         35   50     True
c   redchilli     red     1kg         33   95    False
d       beans   green     1kg         40   50    False
e     coconut   white  1piece  seventeen   43     True
f  poosanikai  yellow  1piece         10   35    False

In [39]:
koyambed_market['max'] = koyambed_market['max'].apply(lambda x: x+5)

### data aggregating & grouping

In [51]:
koyambed_market

   vegetables   color    unit        min  max  coconut
a    beetroot  purple     1kg         25   45     True
b      carrot  orange     1kg         35   50     True
c   redchilli     red     1kg         33   95    False
d       beans   green     1kg         40   50    False
e     coconut   white  1piece  seventeen   43     True
f  poosanikai  yellow  1piece         10   35    False

In [52]:
koyambed_market['max'].count()

6

In [53]:
koyambed_market.groupby(['unit','min','max']).sum()

                      vegetables   color  coconut
unit   min       max
1kg    25        45     beetroot  purple        1
       33        95    redchilli     red        0
       35        50       carrot  orange        1
       40        50        beans   green        0
1piece 10        35   poosanikai  yellow        0
       seventeen 43      coconut   white        1

### Join dataframes

In [43]:
koyambed_market

   vegetables   color    unit        min  max  coconut
a    beetroot  purple     1kg         25   45     True
b      carrot  orange     1kg         35   50     True
c   redchilli     red     1kg         33   95    False
d       beans   green     1kg         40   50    False
e     coconut   white  1piece  seventeen   43     True
f  poosanikai  yellow  1piece         10   35    False

In [44]:
thiruvanmiyur_market = koyambed_market

In [45]:
thiruvanmiyur_market

   vegetables   color    unit        min  max  coconut
a    beetroot  purple     1kg         25   45     True
b      carrot  orange     1kg         35   50     True
c   redchilli     red     1kg         33   95    False
d       beans   green     1kg         40   50    False
e     coconut   white  1piece  seventeen   43     True
f  poosanikai  yellow  1piece         10   35    False

In [46]:
pd.concat([koyambed_market, thiruvanmiyur_market], axis=1)

,vegetables,color,unit,min,max,coconut,vegetables,color,unit,min,max,coconut
a,beetroot,purple,1kg,25,45,True,beetroot,purple,1kg,25,45,True
b,carrot,orange,1kg,35,50,True,carrot,orange,1kg,35,50,True
c,redchilli,red,1kg,33,95,False,redchilli,red,1kg,33,95,False
d,beans,green,1kg,40,50,False,beans,green,1kg,40,50,False
e,coconut,white,1piece,seventeen,43,True,coconut,white,1piece,seventeen,43,True
f,poosanikai,yellow,1piece,10,35,False,poosanikai,yellow,1piece,10,35,False

In [47]:
# on -spesific the table name & how is joint like a sql joint's
pd.merge(koyambed_market, thiruvanmiyur_market, on='vegetables', how='right')

,vegetables,color_x,unit_x,min_x,max_x,coconut_x,color_y,unit_y,min_y,max_y,coconut_y
0,beetroot,purple,1kg,25,45,True,purple,1kg,25,45,True
1,carrot,orange,1kg,35,50,True,orange,1kg,35,50,True
2,redchilli,red,1kg,33,95,False,red,1kg,33,95,False
3,beans,green,1kg,40,50,False,green,1kg,40,50,False
4,coconut,white,1piece,seventeen,43,True,white,1piece,seventeen,43,True
5,poosanikai,yellow,1piece,10,35,False,yellow,1piece,10,35,False

### read from different source

In [48]:
pd.read_csv("market.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'market.csv'