# Library installation

In [1]:
import pandas as pd

In [2]:
import numpy as np

# Pandas Series

### how to create?

In [3]:
veges = ['beetroot', 'carrot', 'tomato', 'kovakkai', 'coconut']

In [4]:
veges_series = pd.Series(veges, index=['purple', 'orange', 'red','green','white'])

In [5]:
veges_series

purple    beetroot
orange      carrot
red         tomato
green     kovakkai
white      coconut
dtype: object

In [6]:
vege_dict = {'red': 'tomato','green': 'kovakkai'}

In [7]:
vege_dict_series = pd.Series(vege_dict)

In [8]:
vege_dict_series

red        tomato
green    kovakkai
dtype: object

### How to access?

In [9]:
veges_series['white']

'coconut'

In [10]:
vege_dict_series['orange'] = 'carrot'

In [11]:
vege_dict_series

red         tomato
green     kovakkai
orange      carrot
dtype: object

In [12]:
vege_dict_series.drop(['orange'], inplace=True)

### Series elements can be hetrogeneous & nested too!

In [13]:
veges_dict = {'red': ['tomato', 'redchilli'], 'green': 'kovakkai'}

In [14]:
new_veges_series = pd.Series(veges_dict)

In [15]:
type(new_veges_series[1])

/tmp/ipykernel_5634/189875207.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(new_veges_series[1])

str

# Pandas Datasframe

### how to create?

In [16]:
data = { 'vegetables': ['beetroot', 'carrot', 'redchilli', 'beans', 'coconut'],
       'color' : ['purple', 'orange', 'red', 'green', 'white'],
        'unit' : ['1kg', '1kg','1kg','1kg','1piece'],
       'min' : [25, 35, 33, 40, 'seventeen'],
       'max': [40, 45, 90, 45, 38],
       }

In [17]:
koyambed_market = pd.DataFrame(data)

In [18]:
koyambed_market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         25   40
1     carrot  orange     1kg         35   45
2  redchilli     red     1kg         33   90
3      beans   green     1kg         40   45
4    coconut   white  1piece  seventeen   38

In [19]:
koyambed_market.index

RangeIndex(start=0, stop=5, step=1)

### How to access?

In [20]:
koyambed_market['unit']

0       1kg
1       1kg
2       1kg
3       1kg
4    1piece
Name: unit, dtype: object

In [22]:
koyambed_market.loc['a', 'unit']

KeyError: 'a'

In [23]:
koyambed_market.iloc[0:3, 0:3]

  vegetables   color unit
0   beetroot  purple  1kg
1     carrot  orange  1kg
2  redchilli     red  1kg

### Adding and removing

In [24]:
koyambed_market

  vegetables   color    unit        min  max
0   beetroot  purple     1kg         25   40
1     carrot  orange     1kg         35   45
2  redchilli     red     1kg         33   90
3      beans   green     1kg         40   45
4    coconut   white  1piece  seventeen   38

In [25]:
koyambed_market.loc['f'] = {'vegetables': 'poosanikai', 'color': 'yellow', 'unit': '1piece', 'min' : 10, 'max' : 30}

In [26]:
koyambed_market

   vegetables   color    unit        min  max
0    beetroot  purple     1kg         25   40
1      carrot  orange     1kg         35   45
2   redchilli     red     1kg         33   90
3       beans   green     1kg         40   45
4     coconut   white  1piece  seventeen   38
f  poosanikai  yellow  1piece         10   30

In [27]:
koyambed_market['average'] = [20, 35, 75, 35, 25, 20]

In [28]:
koyambed_market

   vegetables   color    unit        min  max  average
0    beetroot  purple     1kg         25   40       20
1      carrot  orange     1kg         35   45       35
2   redchilli     red     1kg         33   90       75
3       beans   green     1kg         40   45       35
4     coconut   white  1piece  seventeen   38       25
f  poosanikai  yellow  1piece         10   30       20

In [29]:
koyambed_market.drop(['average'], axis=1, inplace=True)

### Handle missing values - isna, sum, any, fillna, dropna

In [30]:
koyambed_market

   vegetables   color    unit        min  max
0    beetroot  purple     1kg         25   40
1      carrot  orange     1kg         35   45
2   redchilli     red     1kg         33   90
3       beans   green     1kg         40   45
4     coconut   white  1piece  seventeen   38
f  poosanikai  yellow  1piece         10   30

In [31]:
koyambed_market.isna().sum()

vegetables    0
color         0
unit          0
min           0
max           0
dtype: int64

In [32]:
koyambed_market['season'] = [True, True, False, False, np.nan]

ValueError: Length of values (5) does not match length of index (6)

In [33]:
koyambed_market

   vegetables   color    unit        min  max
0    beetroot  purple     1kg         25   40
1      carrot  orange     1kg         35   45
2   redchilli     red     1kg         33   90
3       beans   green     1kg         40   45
4     coconut   white  1piece  seventeen   38
f  poosanikai  yellow  1piece         10   30

In [34]:
koyambed_market.isna().sum()

vegetables    0
color         0
unit          0
min           0
max           0
dtype: int64

In [35]:
koyambed_market.fillna(False, inplace= True)

In [36]:
koyambed_market

   vegetables   color    unit        min  max
0    beetroot  purple     1kg         25   40
1      carrot  orange     1kg         35   45
2   redchilli     red     1kg         33   90
3       beans   green     1kg         40   45
4     coconut   white  1piece  seventeen   38
f  poosanikai  yellow  1piece         10   30

In [37]:
koyambed_market.dropna(axis=0)

   vegetables   color    unit        min  max
0    beetroot  purple     1kg         25   40
1      carrot  orange     1kg         35   45
2   redchilli     red     1kg         33   90
3       beans   green     1kg         40   45
4     coconut   white  1piece  seventeen   38
f  poosanikai  yellow  1piece         10   30

### Apply lambda

In [38]:
koyambed_market

   vegetables   color    unit        min  max
0    beetroot  purple     1kg         25   40
1      carrot  orange     1kg         35   45
2   redchilli     red     1kg         33   90
3       beans   green     1kg         40   45
4     coconut   white  1piece  seventeen   38
f  poosanikai  yellow  1piece         10   30

In [39]:
koyambed_market['max'] = koyambed_market['max'].apply(lambda x: x+5)

### data aggregating & grouping

In [40]:
koyambed_market

   vegetables   color    unit        min  max
0    beetroot  purple     1kg         25   45
1      carrot  orange     1kg         35   50
2   redchilli     red     1kg         33   95
3       beans   green     1kg         40   50
4     coconut   white  1piece  seventeen   43
f  poosanikai  yellow  1piece         10   35

In [41]:
koyambed_market['max'].count()

np.int64(6)

In [42]:
koyambed_market.groupby(['unit','max']).sum()

             vegetables        color        min
unit   max
1kg    45      beetroot       purple         25
       50   carrotbeans  orangegreen         75
       95     redchilli          red         33
1piece 35    poosanikai       yellow         10
       43       coconut        white  seventeen

### Join dataframes

In [43]:
koyambed_market

   vegetables   color    unit        min  max
0    beetroot  purple     1kg         25   45
1      carrot  orange     1kg         35   50
2   redchilli     red     1kg         33   95
3       beans   green     1kg         40   50
4     coconut   white  1piece  seventeen   43
f  poosanikai  yellow  1piece         10   35

In [46]:
thiruvanmiyur_market = koyambed_market

In [47]:
pd.concat([koyambed_market, thiruvanmiyur_market], axis=1)

,vegetables,color,unit,min,max,vegetables,color,unit,min,max
0,beetroot,purple,1kg,25,45,beetroot,purple,1kg,25,45
1,carrot,orange,1kg,35,50,carrot,orange,1kg,35,50
2,redchilli,red,1kg,33,95,redchilli,red,1kg,33,95
3,beans,green,1kg,40,50,beans,green,1kg,40,50
4,coconut,white,1piece,seventeen,43,coconut,white,1piece,seventeen,43
f,poosanikai,yellow,1piece,10,35,poosanikai,yellow,1piece,10,35

In [48]:
pd.merge(koyambed_market, thiruvanmiyur_market, on='vegetables', how='right')

,vegetables,color_x,unit_x,min_x,max_x,color_y,unit_y,min_y,max_y
0,beetroot,purple,1kg,25,45,purple,1kg,25,45
1,carrot,orange,1kg,35,50,orange,1kg,35,50
2,redchilli,red,1kg,33,95,red,1kg,33,95
3,beans,green,1kg,40,50,green,1kg,40,50
4,coconut,white,1piece,seventeen,43,white,1piece,seventeen,43
5,poosanikai,yellow,1piece,10,35,yellow,1piece,10,35

### read from different source

In [ ]:
pd.read_csv("market.csv")